<!-- Center Pin Example -->
<!-- <button (click)="map.centerPin.enable(infowindowLocation, '<yourApuKey>')">Add center Pin</button>
<button (click)="map.centerPin.disable()">Remove Pin</button>
<ng-template #infowindowLocation let-address>
  <div style="min-height: 20px; min-width: 50px;">
    <span *ngIf="!address">Loading...</span>
    <span *ngIf="!!address">{{address}}</span>
  </div>
</ng-template> -->


<div id="parent" style="height: 100%; width: 100%;">

  <gmtv-map [data]="objectsToTrack" [template]="infowindow" [mapOptions]="mapOptions" [showLocationButton]="true" #map>
    <ng-template #infowindow let-o>
      <div>
        <h3>Flight #{{o.label?.text}} <span class="flag-icon flag-icon-{{getIsoCode(o.country)?.toLowerCase()}}"
            [title]="o.country"></span></h3>
        <span><strong>Altitude: </strong>{{o.altitude | number: '1.0-0'}}m</span>
      </div>
    </ng-template>
  </gmtv-map>

  <gmtv-geolocation-button></gmtv-geolocation-button>

</div>
