<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>googlemaps-tracking-view-demo documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">googlemaps-tracking-view-demo documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../">googlemaps-tracking-view-demo documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/NgxGooglemapsTrackingViewModule.html" >NgxGooglemapsTrackingViewModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/GeolocationButtonComponent.html" >GeolocationButtonComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/InfowindowComponent.html" >InfowindowComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/NgxGooglemapsTrackingViewComponent.html" >NgxGooglemapsTrackingViewComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/TrackedObjectComponent.html" >TrackedObjectComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-classes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="../classes/CenterMarker.html"  class="active" >CenterMarker</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/GeolocationMarker.html" >GeolocationMarker</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-injectables-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="../injectables/GoogleMapsWrapper.html" >GoogleMapsWrapper</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-interfaces-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="../interfaces/TrackedObject.html" >TrackedObject</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../">googlemaps-tracking-view-demo documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/NgxGooglemapsTrackingViewModule.html" >NgxGooglemapsTrackingViewModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/GeolocationButtonComponent.html" >GeolocationButtonComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/InfowindowComponent.html" >InfowindowComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/NgxGooglemapsTrackingViewComponent.html" >NgxGooglemapsTrackingViewComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/TrackedObjectComponent.html" >TrackedObjectComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#classes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="../classes/CenterMarker.html"  class="active" >CenterMarker</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/GeolocationMarker.html" >GeolocationMarker</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#injectables-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="../injectables/GoogleMapsWrapper.html" >GoogleMapsWrapper</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#interfaces-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="../interfaces/TrackedObject.html" >TrackedObject</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content class">
                   <div class="content-data">






<ol class="breadcrumb">
  <li>Classes</li>
  <li>CenterMarker</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
    </li>
    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="infos">
        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>projects/ngx-googlemaps-tracking-view/src/lib/components/center-marker/center-marker.ts</code>
        </p>

            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                <p>A marker fixed to the center of the map which emits the geo-decoded location<br>as a full address.</p>

            </p>

            <section>
                <h3 id="constructor">Constructor</h3>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <code>constructor(googlemapsWrapper: <a href="../injectables/GoogleMapsWrapper.html" >GoogleMapsWrapper</a>, viewContainer: <a href="https://angular.io/docs/ts/latest/api/core/index/ViewContainerRef-class.html" target="_blank" >ViewContainerRef</a>, cdr: <a href="https://angular.io/docs/ts/latest/api/core/index/ChangeDetectorRef-class.html" target="_blank" >ChangeDetectorRef</a>)</code>
                                </td>
                            </tr>
            
                        </tbody>
                    </table>
            </section>

            <section>
                <h3 id="methods">Methods</h3>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> enable</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
            <code>enable(infowindowTemplate: TemplateRef<any>, apiKey: string)</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description"><p>Activates the pin to show at the map&#39;s center</p>
            </div>
                                        <div class="io-description">
                                                <b>Parameters :</b>
                                                <ul class="jsdoc-params">
                                                        <li>
                                                            <div>
                                                                <b>infowindowTemplate</b>
                                                            </div>
                                                            <div>
                                                                <p>A template for rendering the infowindow on top of the marker.<br>It must have a single root element. The address string will be passed as implicit context.</p>
            
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div>
                                                                <b>apiKey</b>
                                                            </div>
                                                            <div>
                                                                <p>GoogleMaps API key. TODO: remove the need for this param in future versions.</p>
            
                                                            </div>
                                                        </li>
                                                </ul>
                                                <b>Example :</b>
                                                    <div>
                                                        <p>*</p>
            <button (click)="map.centerPin.enable(infowindowLocation, '<yourApiKey>')"><br>Add center Pin<br></button>
            
            <p><ng-template #infowindowLocation let-address></p>
            <p><div style="min-height: 20px; min-width: 50px;"><br>{{address}}<br></div><br></ng-template></p>
            
                                                    </div>
                                        </div>
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                            <div class="io-description">
                                                
                                            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> disable</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
            <code>disable()</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description"><p>Removes the pin from the map</p>
            </div>
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> displayInfowindowOverPin</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
            <code>displayInfowindowOverPin()</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description">
                                        </div>
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                            <div class="io-description">
                                                
                                            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> updateAddress</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
            <code>updateAddress()</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description"><p>Geodecode the current pin&#39;s location.</p>
            </div>
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> setFixedMarker</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <span class="modifier-icon method fa fa-play lock">
                                            <span class="fa fa-lock"></span>
                                        </span>
                                    <code>setFixedMarker()</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description">
                                        </div>
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                            <div class="io-description">
                                                
                                            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> removeFixedMarker</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <span class="modifier-icon method fa fa-play lock">
                                            <span class="fa fa-lock"></span>
                                        </span>
                                    <code>removeFixedMarker()</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description">
                                        </div>
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                            <div class="io-description">
                                                
                                            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> onMapIdle</b>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <span class="modifier-icon method fa fa-play lock">
                                            <span class="fa fa-lock"></span>
                                        </span>
                                    <code>onMapIdle()</code>
                                </td>
                            </tr>
            
                            <tr>
                                <td class="col-md-4">
                                        <div class="io-description">
                                            <b>Returns: </b>    <code>void</code>
            
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </section>


            <section>
                <h3 id="inputs">Properties</h3>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _centerChanged$</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_centerChanged$:     <code>Subject&lt;LatLng&gt;</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _centerMarker</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_centerMarker:     <code>HTMLDivElement</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _clickListener</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_clickListener:     <code>MapsEventListener</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _fixedMarker</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_fixedMarker:     <code>Marker</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _geocoder</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_geocoder:     <code>Geocoder</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _idleListener</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_idleListener:     <code>MapsEventListener</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _infowindowTemplate</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_infowindowTemplate:     <code>TemplateRef&lt;any&gt;</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b><span class="modifier">Private</span> _mapEventSubscription</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="modifier-icon fa fa-lock"></span><code>_mapEventSubscription:     <code>Subscription</code>
            </bcode>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> address</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <code>address:     <code>string</code>
            </bcode>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-description"><p>The current decoded address obtained from google. It becomes <code>null</code> while fetching.</p>
            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> addressChanges</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <code>addressChanges:     <code>EventEmitter&lt;string&gt;</code>
            </bcode>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-description"><p>Emitted when the the geocoded address has resolved.</p>
            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> fix</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <code>fix:     <code>boolean</code>
            </bcode>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-description"><p>Fix the pin to its current position on map instead of floating over it.<br>This value is reset on calling <code>disable()</code>.</p>
            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <b> locationChanges</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <code>locationChanges:     <code>EventEmitter&lt;LatLngLiteral&gt;</code>
            </bcode>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-description"><p>Emitted when the pin&#39;s location has changed (by zooming or dragging) and the map has become idle again.</p>
            </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </section>
    </div>
    <div class="tab-pane fade tab-source-code" id="source">
        <pre><code class="hljs javascript">import { Subject, Subscription, of, timer, bindCallback } from &#x27;rxjs&#x27;;
import { TemplateRef, EventEmitter, ChangeDetectorRef, ViewContainerRef } from &#x27;@angular/core&#x27;;
import { tap, switchMap, debounce, map } from &#x27;rxjs/operators&#x27;;
import { GoogleMapsWrapper } from &#x27;../../services/googlemaps-wrapper&#x27;;

let API_KEY &#x3D; &#x27;&#x27;;
const INFOWINDOW_ID &#x3D; &#x27;center-pin&#x27;;

/**
 * A marker fixed to the center of the map which emits the geo-decoded location
 * as a full address.
 *
 * @see {@link CenterMarker}
 * @emits CenterMarker#locationChanges locationChanges When the pin&#x27;s location has changed
 * (by zooming or dragging) and the map has become idle again.
 * @emits CenterMarker#addressChanges addressChanges The the geocoded address has resolved.
 *
 * @example
 * &lt;button (click)&#x3D;&quot;map.centerPin.enable(infowindowLocation, &lt;yourGMapsApiKey)&quot;&gt;Add center Pin&lt;/button&gt;
 * &lt;button (click)&#x3D;&quot;map.centerPin.disable()&quot;&gt;Remove Pin&lt;/button&gt;
 *
 * &lt;ng-template #infowindowLocation let-address&gt;
 *   &lt;div&gt;
 *     &lt;span *ngIf&#x3D;&quot;!address&quot;&gt;Loading...&lt;/span&gt;
 *       &lt;div *ngIf&#x3D;&quot;!!address&quot;&gt;
 *       {{address}}
 *       &lt;br&gt;
 *       &lt;button (click)&#x3D;&quot;map.centerPin.fix &#x3D; !map.centerPin.fix&quot;&gt;Fix&lt;/button&gt;
 *     &lt;/div&gt;
 *   &lt;/div&gt;
 * &lt;/ng-template&gt;
 */
export class CenterMarker {
  /**
   * The current decoded address obtained from google. It becomes &#x60;null&#x60; while fetching.
   */
  address: string;
  /**
   * Emitted when the the geocoded address has resolved.
   */
  addressChanges &#x3D; new EventEmitter&lt;string&gt;();
  /**
   * Emitted when the pin&#x27;s location has changed (by zooming or dragging) and the map has become idle again.
   */
  locationChanges &#x3D; new EventEmitter&lt;google.maps.LatLngLiteral&gt;();

  /** @ignore */
  private _infowindowTemplate: TemplateRef&lt;any&gt;
  /** @ignore */
  private _centerChanged$ &#x3D; new Subject&lt;google.maps.LatLng&gt;();
  /** @ignore */
  private _centerMarker: HTMLDivElement;
  /** @ignore */
  private _fixedMarker: google.maps.Marker;
  /** @ignore */
  private _mapEventSubscription &#x3D; new Subscription();
  /** @ignore */
  private _geocoder &#x3D; new google.maps.Geocoder();
  /** @ignore */
  private _idleListener: google.maps.MapsEventListener;
  /** @ignore */
  private _clickListener: google.maps.MapsEventListener;


  constructor(
    private googlemapsWrapper: GoogleMapsWrapper,
    private viewContainer: ViewContainerRef,
    private cdr: ChangeDetectorRef) { }

  /**
   * Fix the pin to its current position on map instead of floating over it.
   * This value is reset on calling &#x60;disable()&#x60;.
   */
  get fix(): boolean { return !!this._fixedMarker; }
  set fix(val: boolean) {
    if (!this.googlemapsWrapper.isReady()) {
      console.warn(&#x27;Map is not ready&#x27;);
      return;
    }

    this.disable();
    if (val) {
      this.setFixedMarker();
    } else {
      this.enable(this._infowindowTemplate, API_KEY);
    }
  }

  /**
   * Activates the pin to show at the map&#x27;s center
   * @param infowindowTemplate A template for rendering the infowindow on top of the marker.
   * It must have a single root element. The address string will be passed as implicit context.
   * @param apiKey GoogleMaps API key. TODO: remove the need for this param in future versions.
   *
   * @example
   *
   * &lt;button (click)&#x3D;&quot;map.centerPin.enable(infowindowLocation, &#x27;&lt;yourApiKey&gt;&#x27;)&quot;&gt;
   *   Add center Pin
   * &lt;/button&gt;
   *
   * &lt;ng-template #infowindowLocation let-address&gt;
   *   &lt;div style&#x3D;&quot;min-height: 20px; min-width: 50px;&quot;&gt;
   *     {{address}}
   *   &lt;/div&gt;
   * &lt;/ng-template&gt;
   */
  enable(infowindowTemplate: TemplateRef&lt;any&gt;, apiKey: string) {
    this.removeFixedMarker();

    API_KEY &#x3D; apiKey;
    this._infowindowTemplate &#x3D; infowindowTemplate;
    if (this._centerMarker) return;

    const mapDiv &#x3D; this.googlemapsWrapper.map.getDiv() as HTMLDivElement;
    this._centerMarker &#x3D; document.createElement(&#x27;div&#x27;);
    this._centerMarker.classList.add(&#x27;centerMarker&#x27;);
    this._centerMarker.style.cssText &#x3D;
      &#x60;position:absolute;
      background:url(https://maps.gstatic.com/mapfiles/markers/marker.png) no-repeat;
      top:50%;left:50%;
      z-index:1;
      margin-left:-10px;
      margin-top:-34px;
      height:34px;
      width:20px;
      cursor: pointer;&#x60;;

    mapDiv.parentElement.appendChild(this._centerMarker);
    this._centerMarker.onclick &#x3D; () &#x3D;&gt; this.displayInfowindowOverPin();

    this._mapEventSubscription &#x3D; new Subscription();
    this._mapEventSubscription.add(
      this._centerChanged$
        .pipe(
          tap(() &#x3D;&gt; {
            this.address &#x3D; null;
            this.displayInfowindowOverPin();
          }),
          switchMap(latLng &#x3D;&gt; of(latLng)),
          debounce(() &#x3D;&gt; timer(1000)),
          switchMap((location) &#x3D;&gt; {
            const geoCoder &#x3D; new google.maps.Geocoder();
            const geocodeFn$ &#x3D; bindCallback(geoCoder.geocode);
            return geocodeFn$({ location });
          }),
        )
        .subscribe(([results, status]) &#x3D;&gt; {
          if (status !&#x3D;&#x3D; google.maps.GeocoderStatus.OK) {
            console.error(status);
          }
          const firstResult: google.maps.GeocoderResult &#x3D; results &amp;&amp; results[0];
          this.address &#x3D; firstResult &amp;&amp; firstResult.formatted_address || &#x27;desconocido&#x27;;
          this.addressChanges.emit(this.address);
          this.displayInfowindowOverPin();
          this.cdr.detectChanges();
        })
    );

    this.updateAddress();
    this._idleListener &#x3D; this.googlemapsWrapper.map.addListener(&#x27;idle&#x27;, () &#x3D;&gt; this.onMapIdle());
    this._clickListener &#x3D; this.googlemapsWrapper.map.addListener(&#x27;click&#x27;, () &#x3D;&gt; this.googlemapsWrapper.closeInfowindow(INFOWINDOW_ID));
  }

  /**
   * Removes the pin from the map
   */
  disable() {
    if (this._centerMarker) this._centerMarker.remove();
    this._centerMarker &#x3D; null;
    this._mapEventSubscription.unsubscribe();
    this.googlemapsWrapper.closeInfowindow();
    google.maps.event.removeListener(this._idleListener);
    google.maps.event.removeListener(this._clickListener);
    this.removeFixedMarker();
    this.googlemapsWrapper.closeInfowindow(INFOWINDOW_ID);
  }

  /** @ignore */
  displayInfowindowOverPin() {
    this.viewContainer.clear();
    const view &#x3D; this.viewContainer.createEmbeddedView(this._infowindowTemplate, { $implicit: this.address });
    const content &#x3D; view.rootNodes[0] as HTMLElement;

    const markerPosition &#x3D; this.fix ? this._fixedMarker.getPosition() : this.googlemapsWrapper.map.getCenter();
    const offset &#x3D; this.googlemapsWrapper.getMetersPerPx(markerPosition.lat()) * 36;
    const pos &#x3D; google.maps.geometry.spherical.computeOffset(markerPosition, offset, 0);

    this.googlemapsWrapper
      .openInfowindow(pos, content, INFOWINDOW_ID)
      .setOptions({ disableAutoPan: true });
  }

  /**
   * Geodecode the current pin&#x27;s location.
   */
  updateAddress() {
    const markerPosition &#x3D; this.fix ? this._fixedMarker.getPosition() : this.googlemapsWrapper.map.getCenter();
    this._centerChanged$.next(markerPosition);
  }

  /** @ignore */
  private setFixedMarker() {
    if (this._fixedMarker) this.removeFixedMarker();
    this._fixedMarker &#x3D; new google.maps.Marker({
      icon: &#x27;https://maps.gstatic.com/mapfiles/markers/marker.png&#x27;,
      map: this.googlemapsWrapper.map,
      position: this.googlemapsWrapper.map.getCenter(),
    });

    this._fixedMarker.addListener(&#x27;click&#x27;, () &#x3D;&gt; this.displayInfowindowOverPin());
  }

  /** @ignore */
  private removeFixedMarker() {
    if (!this._fixedMarker) return;
    this._fixedMarker.setMap(null);
    google.maps.event.clearInstanceListeners(this._fixedMarker);
    this._fixedMarker &#x3D; null;
  }

  private onMapIdle() {
    const center &#x3D; this.googlemapsWrapper.map.getCenter();
    this.locationChanges.emit(center.toJSON());
    this.updateAddress();
  }
}
</code></pre>
    </div>
</div>





                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/menu.js"></script>
       <script src="../js/libs/highlight.pack.js"></script>
       <script src="../js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="../js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
